PORT=8000

DB_USERNAME=''
DB_PASSWORD=''
DB_CONNECTION_URL=mongodb://localhost:27017/
DB_NAME = rate_hawk
DB_URL_QUERY=""
COOKIE_PARSER_TOKEN=cookie-parser-token
GOOGLE_CLIENT_ID=159782236654-ha7qqnb4n564jce4g9ijeni4ldlef14d.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_OAUTH_SUCCESS_REDIRECT=https://noblenames.co.uk/
GOOGLE_OAUTH_FAILURE_REDIRECT=https://noblenames.co.uk/auth/sign-up
GOOGLE_OAUTH_CALLBACK_URL=https://api.noblenames.co.uk/auth/google
EMAIL_SENDER_ACCOUNT=amanullhazohanagalayfrontend@gmail.com
EMAIL_SENDER_PASSWORD=kuzo gfmu uyjq utus
FRONTEND_BASE_URL = 'https://noblenames.co.uk'
BASE_URL = 'https://api.noblenames.co.uk/api/v1'

STRIPE_WEBHOOK_SECRET = 'whsec_LH5tIRTLTv54ClpV8TcXDE2MGnVijbmW'
BASE_DOMAIN = 'https://api.noblenames.co.uk'